html {
    background-color: #87CEFA;
    font-family: Arial;
}

body {
    text-align: center;
}

table {
    width: 40%;
    margin-left:auto;
    margin-right:auto;
    border: collapse;
    text-align: center;
 }

table, th, td {
    border: 1px solid black;
}

th {
    background-color: Tan;
}

h1 {
    color: DarkSlateGray;
}

input {
  width: 12%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.button {
    font-size: 15px;
    padding: 15px;
    font-color: white;
    background-image: linear-gradient(to right, #16222A 0%, #3A6073 51%, #16222A 100%)
}
.button:hover {
    background-position: right center;
}